.movie-card {
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 10px;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    border-radius: 21px;
    height: auto;
}
.bg-img {
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.movie-title {
    display: inline-block;
    font-size: 20px;
    font-family: 'Gothic Pro', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #ffe;
    background-color: #000;
    opacity: 0.6;
    margin-top: 351px;
    padding-top: 10px;
    width: 300px;
}
.date {
    background-color: #000;
    opacity: 0.6;
    margin: 0;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}